<% if (locals.errors) { %>
<div class="bg-red-100 border border-red-400 text-red-700 p-4 rounded-lg m-4">
  <ul class="list-disc pl-5">
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
</div>
<% } %>
